.card {
  position: relative;
}

.card .front, .card .back {
    display: block;
    width: 150px;
    height: 150px;
    border: 2.5px solid rgb(76, 94, 139);
    border-radius: 3%;
}

.card .front {
  transform: rotateY(90deg);
  position: absolute;
}

.flipped .front {
  transform: rotateY(0deg);
}